name: Rust Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable
        name: Install rust toolchain

      - uses: Swatinem/rust-cache@v2
        name: Add caching

      - name: Build crate
        run: cargo build --verbose --all-features
