name: Check Docs

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  rustdoc:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        name: Install rust toolchain

      - uses: Swatinem/rust-cache@v2
        name: Add caching

      - name: Check Documentation with Rustdoc
        run: cargo doc --verbose --no-deps
