name: Clippy Lint and Check
on: [pull_request]
env:
  CARGO_TERM_COLOR: always
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        name: Install Rust Toolchain
        with:
          components: clippy

      - uses: Swatinem/rust-cache@v2
        name: Add caching

      - name: Add problem matcher
        run: echo "::add-matcher::${{ runner.tool_cache }}/rust.json"

      - name: Lint and Check codebase with Clippy
        run: cargo clippy --all-features --verbose -- -D warnings
